@import '_colors';
@import '_fonts';
@import '_nav';
@import '_product';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  stroke: 0;
  line-height: 1;
  font-family: $body-font;
  color: $primary-color;
}
  
code {
  font-family: $code-font;
  color: $primary-color;
}

